---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&units=imperial&zip=96150,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-119.9865,"lat":38.917},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":50.85,"feels_like":47.7,"temp_min":46.29,"temp_max":55.6,"pressure":1020,"humidity":44},"visibility":10000,"wind":{"speed":5.75,"deg":70},"clouds":{"all":0},"dt":1715357147,"sys":{"type":1,"id":6086,"country":"US","sunrise":1715345492,"sunset":1715396472},"timezone":-25200,"id":0,"name":"South
        Lake Tahoe","cod":200}'
  recorded_at: Fri, 10 May 2024 16:07:08 GMT
recorded_with: VCR 6.0.0
