---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&units=imperial&zip=93907,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-121.6703,"lat":36.7563},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":63.37,"feels_like":62.51,"temp_min":54.55,"temp_max":72.25,"pressure":1015,"humidity":66},"visibility":10000,"wind":{"speed":11.5,"deg":150},"clouds":{"all":0},"dt":1715357426,"sys":{"type":1,"id":5885,"country":"US","sunrise":1715346181,"sunset":1715396590},"timezone":-25200,"id":0,"name":"Salinas","cod":200}'
  recorded_at: Fri, 10 May 2024 16:10:26 GMT
recorded_with: VCR 6.0.0
